* {
    padding: 0;
    margin: 0;
}

body {
    background-color: darkslategray;
    color: white;
    text-align: center;
}

/* ====================== */

td, table, tr {
    border-collapse: collapse;
}


table td:nth-child(1) {
    background-color: rgb(9, 56, 61);
}

table {
    margin-left: auto;
    margin-right: auto;
    border: .1rem solid black;
    border-radius: 1rem;
}

td {
    width: 3rem;
    height: 2rem;
    text-align: center;
    background-color: rgb(18,86,94);
    overflow: auto;
}

td:hover {
    cursor: pointer;
    background-color: rgb(25, 111, 121);
}

table td:nth-child(1):hover {
    background-color: rgb(25, 111, 121);
}

/* ====================== */

.counterMenu {
    border: 0.2rem solid black;
    padding: 0.2rem;
    margin: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    width: 12rem;
    height: 3.5rem;
    background-color: rgb(43, 43, 43);
}

.counterMenu button {
    font-size: 3rem;
    width: 3.5rem;
    height: 3.5rem;
}

.counterMenu div {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
}

/* ====================== */

.counterOperations {
    border: 0.2rem solid black;
    padding: 0.2rem;
    margin: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    width: 16rem;
    height: 3.5rem;
    background-color: rgb(43, 43, 43);
}

.counterOperations button {
    font-size: 3rem;
    width: 3.5rem;
    height: 3.5rem;
}
